.header {
  background: rgb(199, 200, 204);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  background: rgb(199, 200, 204);
}

.footer {
  background: rgb(199, 200, 204);
}

.about {
  background: rgb(229, 225, 218);
}

.contact {
  background: rgb(170, 215, 217);
}

.bold {
  font-weight: bold;
}

.round_image {
  border-radius: 50%;
}

.nev_link_element {
  transition: all 0.3s ease-in-out;
}

.nev_link_element:hover {
  transform: scale(1.25);
}
